body {
    margin: 0;
    text-align: center;
    background-color: blue;
}

.container {
    display: flex;
    justify-content: space-around;
}

#main {
    display: flex;
    justify-content: space-around;
}

#result {
    color: #F94F6D;
}